* annex.backend=MD5E
**/*.txt annex.largefiles=nothing
**/*.md annex.largefiles=nothing
**/*.tsv annex.largefiles=nothing
**/*.csv annex.largefiles=nothing
**/*.git* annex.largefiles=nothing
*.py annex.largefiles=nothing
replication_data/* annex.largefiles=nothing
