datalad ~= 1.1.2
graphviz ~= 0.20.3
matplotlib ~= 3.10.0
nipype ~= 1.8.5
numpy ~= 2.0
nilearn ~= 0.11.1
pandas ~= 2.2.2
Pillow ~= 11.1.0
plotly ~= 6.0.0
scipy ~= 1.15.0
scikit-learn ~= 1.5.1
seaborn ~= 0.13.2
statsmodels ~= 0.14.4
tables ~= 3.10.0